<div xmlns="http://www.w3.org/1999/html">
    {#<a href="{{ path('login_form') }}"> Login </a>#}
    <img src="{{ asset('/bundles/kartshop/images/home.jpg') }}" style="width: 100%;height: 610px;" >
    <div style="margin-top: 20px;">
    <a href="{{ path('kart_shop_products_listing') }}" style="float: right; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;" > Explore the Products</a>
    </div>
</div>