{% extends 'KartShopBundle::layout.html.twig' %}

{% block body %}

    <div class="login-page">
        <div class="form">
            <form action="{{ path('kart_shop_user_register') }}" method="post" class="login-form">

                <input type="text" placeholder="username" id="username" name="username"/>
                <input type="text" placeholder="email" id="email" name="email"/>
                <input type="password" placeholder="password" id="password" name="password"/>
                <button type="submit">SignUp</button>
                <a href="{{ path('login_form') }}" style="float: right; padding-top: 10px;">Login</a>

            </form>
        </div>
    </div>

{% endblock %}
