.product-list-desc {
    color: #494986;
    font-size: 20px;
    text-align: center;
    float:left;
    margin: 25px 25px 25px 25px;
    padding-right: 50px;
}

.product-list-btn {
    float: right;
    margin-right: 50px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    background: #ff4167;
    color: #ffffff;
    border-color: #ff4167;
    font-size: 16px;
}
.product-list-desc label {
    color: #bd2130;
}

.product-price {
    color: #7f34c3;
    font-size: 16px;
    margin-left: 5px;
}

.top-banner{
    height: 50px;
    background: #666666;
}

/**********************login page ************************** */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}

.cart-list
{
    margin-top: 20px;
    margin-right: 50px;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background: #ff4167;
    color: #ffffff;
    border-color: #ff4167;
    font-size: 16px;
}