{% extends '::base.html.twig' %}

    {% block title %} Welcome to Kart {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/kartshop/css/styles.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/kartshop/css/bootstrap.min.css') }}"/>

    {% endblock %}

    {% block javascripts %}

    {% endblock %}


    {% block body %}

        <div class="top-banner">
            <a href="{{ path('logout') }}" style="float: right; margin: 10px 10px; color: #a6e1ec; "> Logout </a>
        </div>

    {% endblock %}

