{% extends 'KartShopBundle::layout.html.twig' %}

{% block title %}
    Kart Products
{% endblock %}


{% block body %}

    {{ parent() }}

    <div class="container">
        <div class="row">
            {% for cartItem in cartItems %}
                <div class="col-md-3">
                    <p class="cart-list">
                        <span>{{ cartItem.product.name }} </span><br/>
                        <span>{{ cartItem.product.description |slice(0, 50) ~ '...' }} </span>
                    </p>
                </div>
            {% endfor %}

            Total : {{ totalValue }}

            <form name="checkout" method="post" action="{{ path('kart_shop_checkout_page') }}">
                <input type="submit" name="submit" value="Checkout" class="product-list-btn"/>
            </form>

        </div>
    </div>
{% endblock %}
