{% extends 'KartShopBundle::layout.html.twig' %}

{% block body %}

    {{ parent() }}
    <div >
        <div class="form" style="margin-right: 50px; margin-top: 20px;">
            <form action="" method="post" class="login-form">
                <b>Shipping Address</b>
                <input type="text" placeholder="name" id="name" name="name"/>
                <input type="text" placeholder="email" id="email" name="email"/>
                <input type="text" placeholder="mobile" id="mobile" name="mobile"/>
                <input type="text" placeholder="address" id="address" name="address"/>
                <button type="submit">Order Now</button>

            </form>
        </div>
    </div>

{% endblock %}

