{% extends 'KartShopBundle::layout.html.twig' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="login-page">
        <div class="form">
            <form action="{{ path('login_check') }}" method="post" class="login-form">

                <input type="text" placeholder="username" id="username" name="_username" value="{{ last_username }}"/>
                <input type="password" placeholder="password" id="password" name="_password"/>
                <button type="submit">login</button>
                <a href="{{ path('kart_shop_user_register_form') }}" style="float: right; padding-top: 10px;">Create an account</a>
            </form>
        </div>
    </div>

{% endblock %}
