{% extends 'KartShopBundle::layout.html.twig' %}

{% block title %}
    Kart Products
{% endblock %}

{% block body %}
    {{ parent() }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success" style="height: 54px; width: 375px;margin-left: 440px;">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div style="text-align: right; margin-right: 15px; margin-top: 5px;" >
        <a href="{{ path('kart_shop_cart_page') }}" style="color:  #aa15d0;"> View Cart</a>
    </div>

    <div class="container">
        <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <p class="product-list-desc">
                    <label>{{ product.name }}</label><br/>
                    {{ product.description }}
                </p>

                <div>
                    <form name="addCartItem" method="post" action="{{ path('kart_shop_cart_add_item', {'itemId': product.id,'itemPrice': product.price }) }}">
                        <input type="submit" name="submit" value="Add to Cart" class="product-list-btn"/>
                    </form>
                    Price:
                    <strike> {{ product.strickOfValue }}</strike>
                   <span class="product-price">{{ product.price }}</span>

                </div>
            </div>
        {% endfor %}
        </div>
     </div>
{% endblock %}